<link rel="stylesheet" href="styles/activeList.css">
<header-template></header-template>

<div class="al-section">

	<div class="main-container">
		<h3>{{activeList.listName}}</h3>
		<hr>

		<button ng-click="deleteEmails()" class="btn btn-default btn-kameleon">Delete Emails</button>

		<hr>
		
		<h4>Active Emails:</h4>
		<p ng-repeat="email in activeList.emails">
			<input type="checkbox" class="check-box" ng-click="addEmail(email)">
			<label>{{email}}</label>
		</p>

		<span ng-if="activeList.unsubs.length > 0">
			<h4>Unsubscribed emails</h4>
			<p ng-repeat="unsub in activeList.unsubs">
				{{unsub}}
			</p>
		</span>
	</div>

</div>