<link rel="stylesheet" href="styles/activeList.css">

<header-template></header-template>

<div class="al-section">

	<div class="main-container">
		<div class="name-container">
			<h3>{{activeList.listName}}</h3>

			<a ng-click="deleteList(activeList._id)" class="right">delete list</a>
		</div>

		<hr>

		<div class="action-wrapper">
			<div class="soft-actions">

				<button ng-click="unsubscribeEmails()" class="btn btn-default btn-kameleon">Unsubscribe Emails</button>

				<button ng-click="deleteEmails()" class="btn btn-default btn-kameleon">Delete Emails</button>

			</div>

			<div class="hard-actions">

				<button class="btn btn-default btn-kameleon" list="activeList" create-csv>Download as CSV</button>

			</div>
		</div>

		<hr>
		
		<h4>Active Emails:</h4>
		<span ng-repeat="email in activeList.emails">
			<hr class="light-line">
			<p>
				<input type="checkbox" class="check-box" ng-click="addEmailToArray(email)">
				<label>{{email}}</label>
			</p>
		</span>

		<span ng-if="activeList.unsubs.length > 0">
			<hr>
			<h4>Unsubscribed Emails:</h4>

			<span ng-repeat="unsub in activeList.unsubs">
				<hr class="light-line">
				<p>
					{{unsub}}
				</p>
			</span>

		</span>
	</div>

</div>