<div compose-email id="compose-email-section">
	<header-template></header-template>

	<images-section
		ng-show="imagesSelector"
		images-selector="imagesSelector">
	</images-section>

	<button ng-click="imagesSelector = true">Upload Image</button>

	<div class="main-container text-editor">
		<input id="email-subject-line" placeholder="Subject Line"
			class="form-control" ng-model="emailBody.subject"/>
		<br>
		<text-angular ng-model="emailBody.html"></text-angular>
		<button class="btn btn-default" ng-click="sendEmail(emailBody)">Send email</button>
	</div>

</div>
