<header-template></header-template>

<span dashboard-directive class="p-stats">
  <loading-wrap status="status"></loading-wrap>

<div class="main-container clean-container">

  <ul class="nav nav-tabs nav-justified" id="nav-menu">
    <li role="presentation" choose-data time="all" class="active"><a class="pointer">All time</a></li>
    <li role="presentation" choose-data time="7"><a class="pointer">7 days</a></li>
    <li role="presentation" choose-data time="30"><a class="pointer">30 days</a></li>
    <li role="presentation" choose-data time="60"><a class="pointer">60 days</a></li>
    <li role="presentation" choose-data time="90"><a class="pointer">90 days</a></li>
  </ul>

</div>


<div class="main-container">
  <!-- EMAIL SUCCESS MESSAGE -->
  <div class="bg-success" ng-show="successMessage">
    <p>Email batch was sent successfully!</p>
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="successMessage = false;">&times;</span></button>
  </div>

  <div ng-show="displayAll">
    <h3>All time metrics</h3>

    <div class="left-container">

      <div class="unit">
        <h4>{{allUserData.sent}}</h4>
        <p>Emails sent</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.clicks}}</h4>
        <p>Clicks on links</p>
      </div>


      <div class="unit">
        <h4>{{allUserData.complaints}}</h4>
        <p>Complaints received</p>
      </div>

    </div>


    <div class="right-container">

      <div class="unit">
        <h4>{{allUserData.hard_bounces}}</h4>
        <p>Hard bounces</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.opens}}</h4>
        <p>Email opens</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.unsubs}}</h4>
        <p>Unsubscribes</p>
      </div>

    </div>

  </div>

  <div ng-show="displayLast7">
    <h3>Last 7 days</h3>

    <div class="left-container">

      <div class="unit">
        <h4>{{allUserData.stats.last_7_days.sent}}</h4>
        <p>Emails sent</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.stats.last_7_days.clicks}}</h4>
        <p>Clicks on links</p>
      </div>


      <div class="unit">
        <h4>{{allUserData.stats.last_7_days.complaints}}</h4>
        <p>Complaints received</p>
      </div>

    </div>


    <div class="right-container">

      <div class="unit">
        <h4>{{allUserData.stats.last_7_days.hard_bounces}}</h4>
        <p>Hard bounces</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.stats.last_7_days.opens}}</h4>
        <p>Email opens</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.stats.last_7_days.unsubs}}</h4>
        <p>Unsubscribes</p>
      </div>

    </div>

  </div>

  <div ng-show="displayLast30">
    <h3>Last 30 days</h3>

    <div class="left-container">

      <div class="unit">
        <h4>{{allUserData.stats.last_30_days.sent}}</h4>
        <p>Emails sent</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.stats.last_30_days.clicks}}</h4>
        <p>Clicks on links</p>
      </div>


      <div class="unit">
        <h4>{{allUserData.stats.last_30_days.complaints}}</h4>
        <p>Complaints received</p>
      </div>

    </div>


    <div class="right-container">

      <div class="unit">
        <h4>{{allUserData.stats.last_30_days.hard_bounces}}</h4>
        <p>Hard bounces</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.stats.last_30_days.opens}}</h4>
        <p>Email opens</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.stats.last_30_days.unsubs}}</h4>
        <p>Unsubscribes</p>
      </div>

    </div>

  </div>

  <div ng-show="displayLast60">
    <h3>Last 60 days</h3>

    <div class="left-container">

      <div class="unit">
        <h4>{{allUserData.stats.last_60_days.sent}}</h4>
        <p>Emails sent</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.stats.last_60_days.clicks}}</h4>
        <p>Clicks on links</p>
      </div>


      <div class="unit">
        <h4>{{allUserData.stats.last_60_days.complaints}}</h4>
        <p>Complaints received</p>
      </div>

    </div>


    <div class="right-container">

      <div class="unit">
        <h4>{{allUserData.stats.last_60_days.hard_bounces}}</h4>
        <p>Hard bounces</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.stats.last_60_days.opens}}</h4>
        <p>Email opens</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.stats.last_60_days.unsubs}}</h4>
        <p>Unsubscribes</p>
      </div>

    </div>

  </div>

  <div ng-if="displayLast90">
    <h3>Last 90 days</h3>

    <div class="left-container">

      <div class="unit">
        <h4>{{allUserData.stats.last_90_days.sent}}</h4>
        <p>Emails sent</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.stats.last_90_days.clicks}}</h4>
        <p>Clicks on links</p>
      </div>


      <div class="unit">
        <h4>{{allUserData.stats.last_90_days.complaints}}</h4>
        <p>Complaints received</p>
      </div>

    </div>


    <div class="right-container">

      <div class="unit">
        <h4>{{allUserData.stats.last_90_days.hard_bounces}}</h4>
        <p>Hard bounces</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.stats.last_90_days.opens}}</h4>
        <p>Email opens</p>
      </div>

      <div class="unit">
        <h4>{{allUserData.stats.last_90_days.unsubs}}</h4>
        <p>Unsubscribes</p>
      </div>

    </div>
    
  </div>
</div>

<div class="main-container space">

  <stripe-transact>
    <h3>Purchase</h3>
    <button id="customButton" class="btn btn-default btn-kameleon">Purchase</button>
  </stripe-transact>

</div>

</span>
