<div email-list>
	<ol class="breadcrumb">
		<li><a href="/#/">Home</a></li>
		<li class="active">Email List</li>
		<li><a href="/#/compose-email">Compose Email</a></li>
	</ol>

	<div class="bg-success">
		<p>Email batch was sent successfully!</p>
		<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>

	<div class="main-container">

		<h4>Create New list</h4>

		<form ng-submit="newEmails(newList)">
			<input placeholder="List name" class="form-control" ng-model="newList.listName" required>
			<br>
			<textarea placeholder="Comma-separated email(s)" class="form-control" ng-model="newList.addedEmails" required></textarea>
			<button class="btn btn-default">Save email list</button>
		</form>
	</div>

	<div class="main-container space">

		<div class="row border-bottom">
			<div class="col-md-6">
				<h4>List Name</h4>
			</div>
			<div class="col-md-3">
				<h4># Emails</h4>
			</div>
			<div class="col-md-3"></div>
		</div>

		<div class="listed-lists row" ng-repeat="list in lists">
			<div class="col-md-6">
				<p>
					{{list.listName}}
				</p>
			</div>
			<div class="col-md-3">
				<p>
					{{list.emailCount}}
				</p>
			</div>
			<div class="col-md-3">
					<button class="btn btn-default btn-kameleon" ng-click="selectList(list)">Select list</button>
					<button class="btn btn-danger" ng-click="deleteList(list._id)">x</button>
			</div>
		</div>

	</div>
</div>
