<div email-list>
	<ol class="breadcrumb">
		<li><a href="/#/">Home</a></li>
		<li class="active">Email List</li>
		<li><a href="/#/compose-email">Compose Email</a></li>
	</ol>

	<div class="main-container">

		<h4>Create New list</h4>

		<form ng-submit="newEmails(newList)">
			<input placeholder="List name" class="form-control" ng-model="newList.listName">
			<br>
			<textarea class="form-control" ng-model="newList.addedEmails"></textarea>
			<button class="btn btn-default">Save email list</button>
		</form>
	</div>

	<br>
	<div class="main-container">
		<div ng-repeat="list in lists">
			<button class="btn btn-default" ng-click="selectList(list)">Select list</button> {{list.listName}}, {{list.emailCount}}
		</div>
	</div>
</div>
