<header-template></header-template>

<div class="templates-section" templates-directive>


  <div class="template-container">

    <div class="pre-template" hover-template>
      <div class="screenshot">
        <img src="/styles/images/test-template.png" />
      </div>
      <div class="action-items">
        <p>Template Name</p>
        <button class="btn btn-default">Use template</button>
      </div>
    </div>

    <div class="pre-template" hover-template>
      <div class="screenshot">
        <img src="/styles/images/test-template.png" />
      </div>
      <div class="action-items">
        <p>Template Name</p>
        <button class="btn btn-default">Use template</button>
      </div>
    </div>

    <div class="pre-template" hover-template>
      <div class="screenshot">
        <img src="/styles/images/test-template.png" />
      </div>
      <div class="action-items">
        <p>Template Name</p>
        <button class="btn btn-default">Use template</button>
      </div>
    </div>

    <div class="pre-template" hover-template>
      <div class="screenshot">
        <img src="/styles/images/test-template.png" />
      </div>
      <div class="action-items">
        <p>Template Name</p>
        <button class="btn btn-default">Use template</button>
      </div>
    </div>

  </div>


</div>
