<div class="home-section">
<!-- <header-template></<header-template> -->

<header>
	<div>MailPants</div>
	<div>
		<a href="/#/login">Login</a>
	</div>
</header>

<div class="home-body">

	<div id="containervideo">
		<video autoplay loop muted home-video>
			<source src="/styles/images/backgroundvideo.mp4" type="video/mp4">
			<source src="video.webm" type="video/webm">
		</video>

		<div class="home-demo">
			<div>
				<h2>Email automation</h2>
				<h3>made awesome</h3>
				<a href="/#/login">
					<button class="btn-signup btn-kameleon">
						Sign Up
					</button>
				</a>
			</div>
		</div>
	</div>
	
</div>


<footer>
	<div class="footer-link">
		<a href="mailto:yofala@gmail.com" target="_top">Contact</a>
	</div>
	<div></div>
</footer>

</div>
