<header>
	<div><a href="/#/">MailPants</a></div>
</header>

<div class="login-section" auth-directive>

	<div class="wrapper">

		<div class="main-container">

			<form ng-submit="signUpUser(newUser)">
				<h4>Create an account</h4>
				<input placeholder="email" type="email" class="form-control" ng-model="newUser.email" id="signup-email">
				<hr>
				<input placeholder="password" type="password" class="form-control" ng-model="newUser.password">
				<br>
				<input placeholder="repeat password" type="password" class="form-control" ng-model="newUser.repeatPassword">
				<button class="btn btn-default btn-kameleon">Sign Up</button>
			</form>

		</div>


		<div class="right-divider"></div>


		<div class="main-container">
			
			<form ng-submit="loginUser(user)">
				<h4>Login back in</h4>

				<div class="alert alert-warning" role="alert" ng-if="alertMessage">Invalid username/password</div>

				<input placeholder="email" type="email" class="form-control" ng-model="user.email" id="login-email">
				<br>
				<input placeholder="password" type="password" class="form-control" ng-model="user.password">
				<button class="btn btn-default btn-kameleon">Login</button>
				<a ng-click="openForgot()">
					<p class="forgot-p">forgot password?</p>
				</a>
			</form>

		</div>



	</div>

</div>

<footer-template></footer-template>

