<div class="generic-section">
	<div class="main-container">

		<form ng-submit="signUpUser(newUser)" ng-if="permitted">
			<h3>Create a new password:</h3>
			<br>
			<input placeholder="password" type="password" class="form-control" ng-model="newPassword">
			<br>
			<input placeholder="repeat password" type="password" class="form-control" ng-model="confirmPassword">
			<button ng-click="resetPassword(newPassword)" class="btn btn-default btn-kameleon">Reset password</button>
		</form>

		<h4 ng-if="permitted === false">You don't have permission to change this password.</h4>
	</div>
</div>