<div class="images-wrapper">


<div class="templates-section">

	<div class="close-imgselector" ng-click="closeImagesSelector()">x</div>


	<div class="image-container">

		<div class="pre-template">
			<p>Upload an image:</p>
			<br><br>
			<input class="form-controll" type="file" fileread="uploadme" accept="image/*">
		</div>

		<div class="image-wrapper" ng-repeat="image in images" ng-click="addImage(image.Location)">
			<div class="image-preview">
				<img ng-src="{{image.Location}}" />
			</div>
		</div>
	</div>

</div>