.al-section .main-container {
	position: relative;
}

.al-section .action-wrapper {
	overflow: auto;
}

.al-section .name-container {
	padding-top: 20px;
	padding-bottom: 10px;
}

	.al-section .name-container h3 {
		margin: 0;
		display: inline-block;
	}

.al-section .right {
	float: right;
	line-height: 33px;
}

label {
	font-weight: normal;
}

.btn {
	margin: 0;
}

.check-box {
	vertical-align: middle;
	height: 20px;
	width: 20px;
}

.hard-actions {
	float: right;
	display: inline-block;
}

.soft-actions {
	float: left;
}