.p-stats {
	margin: 10px 0;
}

	.p-stats .main-container p.side-note {
		font-weight: 400;
		font-size: 13px;
		margin: 10px 0 0 0;
	}

	.p-stats .main-container h3 {
		margin-top: 0;
	}

	.p-stats .left-container, .right-container {
		width: 50%;
		display: inline-block;
	}

	.p-stats .right-container {
		float: right;
	}

	.p-stats .unit {
		margin: 10px;
		padding: 20px;
		border: 1px solid #eee;
		border-radius: 5px;
	}

	.p-stats .green {
		border: 1px solid #2ecc71;
		cursor: pointer;
	}

		.p-stats .green h4 {
			text-align: center;
			color: #2ecc71;
			font-size: 18px;
		}

		.p-stats .green:hover {
			background-color: #2ecc71;
		}

		.p-stats .green:hover h4 {
			color: #fff;
		}

	.p-stats h4 {
		color: #1a75ff;
		font-size: 26px;
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.p-stats .main-container p {
		margin: 0 0 5px 0;
		font-weight: 600;
	}

.main-container.clean-container {
	background-color: transparent;
	border: none;
	box-shadow: none;
	padding-bottom: 0;
	margin-bottom: -1px;
}
	.main-container.clean-container ul li a {
		border-bottom: none;
	}