.templates-section {
  display: flex;
  justify-content: center;
  position: relative;
}

.template-container {
  width: 90%;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-flow: row wrap;
}

  .templates-section .pre-template {
    width: 23%;
    height: 250px;
    padding: 20px;
    margin: 0 10px 20px 10px;
    border-radius: 2px;
    border: 1px solid #B0B0C3;
    /*box-shadow: 0px 2px 10px -2px #B6B6BF;*/
    background-color: #fff;
    overflow: auto;
    display: inline-block;
    position: relative;
    /*cursor: pointer;*/
  }

  .pre-template.blue-border {
    border: 1px solid #2ecc71;
  }

  .pre-template .screenshot {
    height: 100%;
    width: 50%;
    display: inline-block;
    text-align: center;
  }

    .screenshot img {
      height: 100%;
      border: 1px solid #BDBDBD;
    }

  .pre-template .action-items {
    display: inline-block;
    pointer-events: all;
    position: relative;
    height: 100%;
    width: 42%;
    float: right;
  }

  .pre-template p {
    top: 0;
    font-size: 18px;
  }

  .pre-template .action-items button {
    position: absolute;
    bottom: 0;
  }


.footer-process {
  position: fixed;
  width: 100%;
  bottom: 0;
  /*background-color: #000;*/
}
