footer {
	position: fixed;
	bottom: 0;
	background-color: #fff;
	/*border-top: 1px solid #070707;*/

	display: flex;
	justify-content: space-between;

	width: 100%;
	padding: 20px 30px;
	z-index: 9;
}


.footer-link a {
	color: #fff;
}

	.footer-link a:hover {
		color: #868686;
	}

	.footer-link a:hover, a:focus, a:active, a:visited {
		text-decoration: none;
	}