header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	padding: 20px 30px;
	border-bottom: 1px solid #DEDEDE;
	display: flex;
	justify-content: space-between;
}

.logout-header {
	float: right;
}
	.logout-header:before {
		content: none !important;
	}
