/*COLORS*/
/*#2ecc71 // Green*/
/*#1a75ff // Blue*/
/*#ff611a // Orange*/
/*#FFD700 // Yellow*/

/*rgba(0, 0, 0, 0.8) // Black*/
/*#DEDEDE // Border Gray*/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background-color: #f6f6ef !important;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p {
	font-family: 'Open Sans', sans-serif;
}

a:hover, a:focus, a:active, a:visited {
	text-decoration: none;
}


/*ANGULAR STUFF*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*APP STYLING*/
* {
	box-sizing: border-box;
}

/*HIGHLIGHT COLOR*/
::-moz-selection {
	background-color: #1481e3;
	color: #fff;
}

::selection {
	background-color: #1481e3;
	color: #fff;
}

.btn {
	border-radius: 2px;
	margin-top: 15px;
}

.btn-kameleon:hover {
	background-color: #000;
	color: #fff;
}

.main-container {
	width: 800px;
	margin: 0 auto;
	padding: 20px;
	word-break: break-all;

	border: 1px solid #DEDEDE;
	background-color: #fff;

	border-radius: 5px;
  	box-shadow: 0px 0px 6px -4px #727272;
}

.breadcrumb {
	padding: 20px 30px;
	background-color: #fff;
	/*border-bottom: 1px solid #1a75ff;*/
	box-shadow: 0px 0px 10px -4px #000;
}

.form-control, .form-control:focus {
	border-radius: 2px;
	box-shadow: none;
	outline: none;
	padding: 20px 15px;
}

.border-bottom {
	border-bottom: 1px solid #DEDEDE;
}

.bg-success {
	max-width: 600px;
	padding: 20px;
	margin: 0 auto;
	border-radius: 2px;
  	box-shadow: 0px 0px 3px -1px #000;

	position: fixed;
	top: 40px;
	right: 15%;
	display: flex;
	justify-content: space-between;
}
	.bg-success .close {
		margin-left: 20px;
	}

.pointer {
	cursor: pointer;
}

.green-border {
	border: 1px solid #2ecc71;
}



















