/*COLORS*/
/*#2ecc71 // Green*/
/*#1a75ff // Blue*/
/*#ff611a // Orange*/
/*#FFD700 // Yellow*/

/*rgba(0, 0, 0, 0.8) // Black*/
/*#DEDEDE // Border Gray*/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background-color: #f6f6ef;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p {
	font-family: 'Open Sans', sans-serif;
}


/*ANGULAR STUFF*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*APP STYLING*/
* {
	box-sizing: border-box;
}

/*HIGHLIGHT COLOR*/
::-moz-selection {
	background-color: #1481e3;
	color: #fff;
}

::selection {
	background-color: #1481e3;
	color: #fff;
}

.btn {
	border-radius: 2px;
	margin-top: 15px;
}

.btn-kameleon:hover {
	background-color: #000;
	color: #fff;
}

.main-container {
	width: 800px;
	margin: 0 auto;
	padding: 20px;

	border: 1px solid #DEDEDE;
	background-color: #fff;
}

.breadcrumb {
	padding: 20px 30px;
	background-color: #fff;
	border-bottom: 1px solid #DEDEDE;
}

.form-control, .form-control:focus {
	border-radius: 2px;
	box-shadow: none;
	outline: none;
	padding: 20px 15px;
}

.border-bottom {
	border-bottom: 1px solid #DEDEDE;
}
