.text-editor {
/*	border: 1px solid #AAA;
	margin: 20px 20%;
	background-color: #F4F4F4;*/
	margin-bottom: 30px;
}

.ta-toolbar {
	background-color: #F0F0F0;
	padding: 10px 10px 5px;
	margin-left: 0px; /* Override bootstrap */
	border: 1px solid #EEE;
}

.ta-toolbar .btn-group {
	margin-bottom: 5px;
}

.ta-editor, .white-box {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #EEE;
}

textarea.ta-bind {
	width: 100%;
}

.ta-root.focussed > .ta-scroll-window.form-control {
	outline: none;
	box-shadow: none;
}
