.generic-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

  .generic-section .main-container {
    text-align: center;
    padding: 100px;
  }

  .generic-section h3 {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .generic-section img {
    max-width: 100%;
  }
